{
  "arrowParens": "avoid",
  "printWidth": 80,
  "endOfLine": "lf",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["tv", "cx", "cn"],
  "importOrder": [
    "^react$",
    "^next/(.*)$",
    "^@hooks/(.*)$",
    "^@components/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
